obj/
bin/
*.user
*.suo
*.vs/
*.vscode/
*.dbmdl
*.log
*.pdb
*.cache
*.tmp
*.bak
*.swp
*.ncrunch*
_ReSharper*/
TestResults/
packages/
node_modules/
.cursorignore
wwwroot/lib/
.env
appsettings.*.json
.idea/
.DS_Store
Thumbs.db